$color-form: #5f6368;
$color-backg: #f8f9fa;

.row{
    margin-top: 15px;
}

.top-div{
    display: flex;
    justify-content: space-between;
    height: 5vh;
    margin: 25px 35px;

    a{
        text-decoration: none;
        color: black;
        background-color: $color-backg;
        border: 1px solid $color-form;
        line-height: 36px;
        padding: 0 5px;
    }

    h1{
        font-size: 20px;
        color: #d93025;
    }
}

.line{
    border-bottom: 1px solid #ebebeb;
}

.form-div{
    margin: 25px 35px;
}

form{
    label{
        font-size: 13px;
    }

    input[type="text"]{
        width: 100%;
    }

    input[type="submit"]{
        font-size: 13px;
        height: 30px;
        color: white;
        background-color: #4d90fe;
        border: 1px solid #2f5bb7;
        padding: 0 12px;
    }
}